@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-Regular.eot');
  src: url('../fonts/Outfit-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Outfit-Regular.woff2') format('woff2'),
  url('../fonts/Outfit-Regular.woff') format('woff'),
  url('../fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
