* {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #D5E1EF;
}

.btn {
  display: block;
  width: 100%;
  background: #2C7DFA;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  text-align: center;

  &:hover {
    background: darken(#2C7DFA, 5%);
  }
}
